<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
  </head>
  <body>
    <div class="">
      {% if category %}
        <h1>{{category.name}}</h1>
        {% if pages %}
          <ul>
            {% for page in pages %}
              <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <strong>No pages currently in category</strong>
        {% endif %}
      {% else %}
        <h3>The specified category does not exist!</h3>
      {% endif %}
    </div>
    <div class="">
      <a href="/rango/">Home</a>
    </div>
  </body>
</html>
