<!DOCTYPE html>

{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
  </head>
  <body>
    <h1>Rango says...</h1>
    <div class="">
      Hey there partner!
    </div>
    <div class="">
      {% if categories %}
      <ul>
        {% for category in categories %}
          <li>{{ category.name }}</li>
        {% endfor %}
      </ul>
      {% else %}
        <strong>There are no categories</strong>
      {% endif %}
    </div>

    <div class="">
      <p>hey there partner!</p>
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div class="">
      <a href="/rango/about/">About</a> <br />
      <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango">

    </div>
  </body>
</html>
